@{ ViewData["Title"] = "Hjem"; }

<section id="promotion-text">
    <!-- <h1><strong>En kodeklubb ved Universitet i Sørøst-Norge, Kongsberg.</strong> Vi har som formål å skape et trivelig, teknologisk og utfordrende miljø for våre <span id="type-effect">medlemmer.</span></h1> -->
    <h1><strong>En kodeklubb ved USN Kongsberg.</strong> Vi har som formål å skape et trivelig, teknologisk og utfordrende miljø for alle som er interessert i teknologi og programmering.</span></h1>
</section>

<section id="promotion-links">
	<div class="wrapper">
		<a asp-controller="Challenges" asp-action="Index" class="main-tab">
            <center>
                <span class="main-tab-icon"><i class="fas fa-lightbulb"></i></span>
			    <h1>Utfordringer</h1><br/>
                <p>Vi legger ut interessante utfordringer og kodeoppgaver for både nybegynnere og litt mer erfarne studenter.</p>
            </center>
		</a>

		<a asp-controller="Course" asp-action="Index" class="main-tab">
			<center>
                <span class="main-tab-icon"><i class="fas fa-graduation-cap"></i></span>
                <h1>Kurskatalog</h1><br/>
                <p>Vår kurskatalog tar for seg komplette kurs i alt fra programmering til underliggende teori, og alt publiseres gratis på nettsiden.</p>
            </center>
		</a>

		<a asp-controller="Auth" asp-action="Register" class="main-tab">
			<center>
                <span class="main-tab-icon"><i class="fas fa-users"></i></span>
                <h1>Bli medlem</h1><br/>
                <p>Det er helt gratis å bli medlem i Kodesonen. Vi ønsker alle velkommen, uavhengig av universitet, studieretning og studiegrad.</p>
            </center>
		</a>
	</div>
</section>

<div class="front-section">
    <div class="front-picture">
        <img src="~/img/homepage/front-images/1.png" />
    </div>

    <div class="front-text">
        <h1>Hva er Kodesonen?</h1><br><br>
        <p>Kodesonen er en studentorganisasjon ved Universitet i Sørøst-Norge, campus Kongsberg. Vi har som formål å skape et trivelig, teknologisk og utfordrende miljø for alle som er interessert i teknologi og programmering, ved å blant annet arrangere kodekvelder, hackathons, sosiale arrangementer og i tillegg publisere kurs, utfordringer og kodeoppgaver på nettsiden.</p><br /><br />
        <a asp-controller="Home" asp-action="About" class="button" id="kodesonen-button2">Les mer om oss <i class="fas fa-long-arrow-alt-right"></i></a>
    </div>
</div>

<div class="front-section">
    <div class="front-text front-c">
        <h1>Hva slags utfordringer har vi?</h1><br><br>

        <p>Våre utfordringer går ut på å løse kodeoppgaver, og disse kan løses med ulike programmeringsspråk, som for eksempel C++ eller Python. Vi lager oppgaver basert på flere nivåer, slik at både nybegynnere og erfarne programmerere kan være med på å løse kodeoppgavene. Vi legger ut nye utfordringer når vi arrangerer kodekvelder, og vi legger alltid ut løsningsforslag i etterkant.</p><br><br>

        <a asp-controller="Challenges" asp-action="Index" class="button" id="kodesonen-button2">Se utfordringer <i class="fas fa-long-arrow-alt-right"></i></a>
    </div>

    <div class="front-picture front-c">
        <img src="~/img/homepage/front-images/3.png" />
    </div>
</div>

<div class="front-section">
    <div class="front-picture">
        <img src="~/img/homepage/front-images/2.png" />
    </div>

    <div class="front-text">
        <h1>Hvorfor bli medlem?</h1><br><br>

        <p>Det er helt gratis å bli medlem i Kodesonen! Vi ønsker alle velkommen, uavhengig av universitet, studieretning og studiegrad.</p><br>

        <p>Våre medlemmer inviteres til kodekvelder, sosiale arrangementer og meetups på campus, og målet vårt er å danne et fellesskap blant teknologi- og ingeniørstudenter og skape et nettverk blant studentene. Enkelte kodekvelder og utfordringer arrangeres online, og enkelte arrangementer foregås med fysisk oppmøte ved USN Kongsberg.</p><br>

        <p>Våre medlemmer har også tilgang til et kontrollpanel på nettsiden hvor det er mulig å se statistikk over hvilke kurs som er gjennomført, delta på quiz og få tildelt et sertifikat ved utførte kurs.</p><br><br>

        <a asp-controller="Auth" asp-action="Register" class="button" id="kodesonen-button2">Bli medlem <i class="fas fa-long-arrow-alt-right"></i></a>
    </div>
</div>

<div class="sponsor-section">
    <hr/>
    <span>
        <h1>Våre sponsorer</h1><br/>
    </span>
    
    <ul class="sponsor-tab wrapper">
        <li><center><a href="https://www.ssn.no/hjem/"><img src="~/img/homepage/sponsor/ssn.png"/></a></center></li>
        <li><center><a href="https://www.kopisenteret.no/"><img src="~/img/homepage/sponsor/kopisenteret-logo.png"/></a></center></li>
        <li></li>
        <li></li>
    </ul>

</div>
