@{ ViewData["Title"] = "Hjem"; }

<section id="promotion-text">
    <h1><strong>En kodeklubb ved Universitet i Sørøst-Norge, Kongsberg.</strong> Vi har som formål å skape et trivelig, teknologisk og utfordrende miljø for våre <span id="type-effect">medlemmer.</span></h1>
</section>

<section id="promotion-image">
    <!-- bilde -->
</section>

<section id="promotion-links">
	<div class="wrapper">
		<a asp-controller="Challenges" asp-action="Index" class="grid-4 main-tab">
            <center>
                <span class="main-tab-icon"><i class="fas fa-lightbulb"></i></span>
			    <h1>Utfordringer</h1><br/>
                <p>Bli med på kodeoppgaver og teknologiske prosjekter. Alt fra nybegynnere til mer erfarne kan være med å løse oppgaver.</p>
            </center>
		</a>
		<a asp-controller="Course" asp-action="Index" class="grid-4 main-tab">
			<center>
                <span class="main-tab-icon"><i class="fas fa-graduation-cap"></i></span>
                <h1>Kurskatalog</h1><br/>
                <p>Vår kurskatalog tar for seg komplette kurs i alt fra programmering til underliggende teori. Her kan alle gå gjennom det som blir publisert.</p>
            </center>
		</a>
		<a asp-controller="Auth" asp-action="Register" class="grid-4 main-tab">
			<center>
                <span class="main-tab-icon"><i class="fas fa-users"></i></span>
                <h1>Bli medlem</h1><br/>
                <p>Det er helt gratis å bli medlem i Kodesonen. Vi ønsker alle fra USN velkommen uavhengig studieretning og studiegrad.</p>
            </center>
		</a>
	</div>
</section>

<div class="front-section">
    <div class="front-picture">
        <img src="~/img/homepage/front-images/1.png" />
    </div>
    <div class="front-text">
        <h1>Hvem er Kodesonen?</h1><br /><br />
        <p>Kodesonen er en studentorganisasjon stiftet av tre dataingeniørstudenter ved Universitet i Sørøst-Norge, campus Kongsberg. Vi har som formål å skape et miljø for andre som har en interesse for teknologi og programmering. Dette ved å tilby utfordringer, showcase, sosiale arrangementer og kurs.</p><br /><br />
        <a asp-controller="Home" asp-action="About" class="button" id="kodesonen-button2">Les mer om oss <i class="fas fa-long-arrow-alt-right"></i></a>
    </div>
</div>

<div class="front-section">
    <div class="front-text front-c">
        <h1>Hva slags utfordringer har vi?</h1><br /><br />
        <p>Våre utfordringer vil bygge på programmering og utvikling av teknologi. Vi ønsker å skape både morsomme og utfordrende oppgaver som inkluderer mange aspekter innen teknologi. Noe vi tenker å gjøre, er å utvikle alt fra roboter i Arduino til kode i C++. Du kan følge med på våre utfordringer under siden kalt utfordringer, eller på Github.</p><br /><br />
        <a asp-controller="Challenges" asp-action="Index" class="button" id="kodesonen-button2">Se utfordringer <i class="fas fa-long-arrow-alt-right"></i></a>
    </div>

    <div class="front-picture front-c">
        <img src="/img/homepage/front-images/2.png" />
    </div>
</div>

<div class="front-section">
    <div class="front-picture">
        <img src="/img/homepage/front-images/3.png" />
    </div>

    <div class="front-text">
        <h1>Hvorfor bli medlem?</h1><br /><br />
        <p>Det er helt gratis å både bli og være medlem i Kodesonen. Alle ved USN er velkommen uavhengig studieretning og studiegrad, dette inkluderer også forkurs og TRES.</p><br />
        <p>Om du blir medlem så kan du når som helst møte opp på events eller være med på utfordringer. Enkelte events og utfordringer vil skje på web, og andre vil være fysisk oppmøte på campus. Samtidig kan du når som helst melde deg av eller skjule ditt medlemskap under medlemslisten.</p><br /><br />
        <a asp-controller="Auth" asp-action="Register" class="button" id="kodesonen-button2">Bli medlem <i class="fas fa-long-arrow-alt-right"></i></a>
    </div>
</div>

<div class="sponsor-section">
    <hr/>

    <span>
        <h1>Våre Sponsor</h1><br/>
    </span>
    <ul class="sponsor-tab wrapper">
        <li><a href="https://www.kopisenteret.no/"><img src="/img/homepage/sponsor/kopisenteret-logo.png"/></a></li>
        <li><a href="https://www.ssn.no/hjem/"><img src="/img/homepage/sponsor/ssn.png"/></a></li>
        <li></li>
        <li></li>
    </ul>
</div>
