@{
	ViewData["Title"] = "Kurs katalog";
}

<div class="breadcrumbs">
	<div class="wrapper">
		<ul class="breadcrumb-nav">
			<li><a href="/?side=kurskatalog">Kurskatalog</a></li>
		</ul>
	</div>
</div>

<div class="kurs_info">
	<h1>Kurskatalog</h1><br />
	<p>Utforsk fullstendige kurs via Kodesonens kurskatalog. Her kan alle gå gjennom alt fra grunnleggende webutvikling til programmering og teori om datavitenskap. Våre kurs blir gitt ut av studenter og skal være av høy kvalitet.</p><br />
</div>

<div class="box-wrapper">
	<a href='/?side=kapitler&id=$id' class='box_thread'>
		<div class='box_symbol'>
			<h1><i class='$ikon'></i></h1>
		</div>
		
		<div class='box_info'>
			<h2>$navn</h2>
			<h4>$beskrivelse</h4>
		</div>
		<div class='box_numbers'>
			<h4><i class='fas fa-copy'></i> ".$this->countChapters($id)."</h4>
		</div>
	</a>
</div>
