@{ ViewData["Title"] = "Brukerprofil"; }

<div class="text-info">
	<h1>Sirajuddin Asjad</h1><br />
</div>

<div class="kodesonen-story">
	<p>Noe tekst her</p>
</div>

<div class="kodesonen-story-image">
	<img src="~/img/team/sira.png">
</div>
