@{ ViewData["Title"] = "Hackathon 2021"; }

<div class="text-info">
	<h1>Hackathon 2021</h1><br />
</div>

<div class="kodesonen-story">
	<p>Vi arrangerer et digitalt hackathon og inviterer alle studenter til å delta. Arrangementet vil foregå helgen 16. til 18. april, og målet med arrangementet er å skape en sosial begivenhet hvor studenter får muligheten til å programmere, samarbeide og skape noe innovativt. </p><br> 

	<p>Det er planlagt ulike utfordringer innen web- og spillutvikling, og dette er en veldig fin mulighet for alle som ønsker å programmere litt og samtidig få erfaring med bruk av API-er, webhooks og kule konsepter innen webteknologi. Arrangementet er lagt opp slik at studenter fra alle årstrinn kan delta, både nybegynnere og litt mer erfarne studenter. </p><br>

    <p>Alt fra design, estetikk, teknisk løsning og gjennomførelse vil til slutt vurderes av flere dommere, hvor det deles ut priser til vinnerne. Alle deltakere vil også få en liten gave fra oss. Dette er en unik mulighet til å tilegne seg ny kunnskap innen svært spennende teknologier.</p><br>

    <p>Vi gleder oss veldig mye og håper du deltar på arrangementet!</p><br>
</div>

<div class="box-wrapper">
    <img src="~/img/challenges/hackathon/image01.png" />
</div>

<div class="text-info">
	<h1>&#128467; Informasjon</h1><br><hr>
</div>

<div class="kodesonen-story">
	<p><strong>Dato:</strong> 16.04.2021 - 18.04.2021</p>
    <p><strong>Sted:</strong> Digitalt (Discord)</p>
    <p><strong>Påmelding:</strong> Facebook (trykk her)</p>
    <p><strong>Målgruppe:</strong> Studenter</p>
</div>

<div class="text-info">
	<h1>&#128187; Utfordringer</h1><br><hr>
</div>

<div class="story-box wrapper grid-3">
    <div class="story-box-info">
        <h2>Webutvikling</h2><br>
        <h4>Mer tekst kommer snart.</h4>
    </div>
</div>

<div class="story-box wrapper grid-3">
    <div class="story-box-info">
        <h2>Spillutvikling</h2><br>
        <h4>Mer tekst kommer snart.</h4>
    </div>
</div>

<div class="story-box wrapper grid-3">
    <div class="story-box-info">
        <h2>API-utvikling</h2><br>
        <h4>Mer tekst kommer snart.</h4>
    </div>
</div>

<div class="text-info">
	<h1>&#129309;&#127995; Sponsorer</h1><br><hr>
</div>

<div class="kodesonen-story">
	<p>Work in progress.</p>
</div>

<br><br>
