<!-- Takk for at du tar en titt! Ønsker du hele kildekoden så sjekk oss ut på Github: https://github.com/kodesonen -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="~/css/custom.css">
	<link rel="stylesheet" href="~/css/responsive.css">
	<link rel='stylesheet' href="~/css/animate.css">
	<link rel="icon" type="image/png" href="~/favicon.ico">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

	<title>@ViewData["Title"] - Kodesonen</title>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138307048-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-138307048-1');
	</script>

</head>

<body>
	<div class="login-section">
		<div class="wrapper">
			<div class="login-nav">
				<a asp-controller="Auth" asp-action="Login"><i class="fas fa-user"></i>Login</a>
			</div>
		</div>
	</div>

	<header id="page-head" class="wrapper">

		<section id="logo-section">
			<a asp-controller="Home" asp-action="Index"><img src="/img/logo-horizontal-2-notext.png" /></a>
		</section>

		<nav id="navigation" class="navigation overlay">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<ul class="nav overlay-content">
				<!--<li class="nav-icon"><a asp-controller="#" asp-action="#"><i class="fas fa-bars"></i></a></li>-->
				
				<li><a asp-controller="Home" asp-action="Index">Hjemsiden</a></li>
				<li><a asp-controller="Course" asp-action="Index">Kurskatalog</a></li>
				<li><a asp-controller="Challenges" asp-action="Index">Utfordringer</a></li>
				<li><a asp-controller="Medlemsliste" asp-action="Index">Medlemsliste</a></li>
				<li class="end"><a asp-controller="Home" asp-action="About">Om oss</a></li>
				
				<!-- <a asp-controller="Auth" asp-action="Login"><li><i class="fas fa-users"></i> Logg inn</li></a> -->
				<a asp-controller="Auth" asp-action="Register"><li class="button" id="kodesonen-button">Bli Medlem <i class="fas fa-long-arrow-alt-right"></i></li></a>
			</ul>
		</nav>

		<span class="mobile_nav" onclick="openNav()">&#9776;</span>

	</header>

	<div class="wrapper">
		@RenderBody()
	</div>

	<div class="footer-wave" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.85 C150.00,149.60 349.20,-49.87 500.00,49.85 L500.00,149.60 L0.00,149.60 Z" class="wave-fill"></path></svg></div>
	<div class="footer">
		<div class="wrapper">
			<div class="footer-trademark">
				<img class="footer-logo" src="img/logo-horizontal-light.png"/>
				<p>&copy; 2020, <a href="#">Kodesonen.no</a> - en studentforening ved <a href="https://www.usn.no/om-usn/campusene/kongsberg/">USN Campus Kongsberg</a>. Kontakt oss når som helst på <a href="#">kontakt@kodesonen.no</a> eller sosiale medier.</p><br/>
				
				<a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
				<a href="#" target="_blank"><i class="fab fa-github-square"></i></a>
				<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
				<a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
			</div>
			<div class="footer-hyperlinks">
				<h1>Navigasjon</h1><br/>
				<ul class="footer-nav">
					<li><a asp-controller="Home" asp-action="Index">Hjemsiden</a></li>
					<li><a asp-controller="Course" asp-action="Index">Kurskatalog</a></li>
					<li><a asp-controller="Challenges" asp-action="Index">Utfordringer</a></li>
					<li><a asp-controller="Medlemsliste" asp-action="Index">Medlemsliste</a></li>
					<li><a asp-controller="Home" asp-action="About">Om oss</a></li>
				</ul>
			</div>
			<div class="footer-discord">
				<h1>Bli med på Discord</h1><br/>
				<p>Vi tilbyr elektro- og kodehjelp, samt flere digitale samtalerom på vår Discord kanal for 100+ medlemmer.</p>
				<a href="/discord"><img class="footer-discord-icon" src="img/join-discord.png"/></a>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="~/js/app.js"></script>
	<script type="text/javascript" src="~//js/cookiechoices.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function (event) {
			cookieChoices.showCookieConsentBar('Vi bruker informasjonskapsler!', 'Kodesonen bruker informasjonskapsler for å samle inn enkel informasjon over din aktivitet på denne nettsiden. Vi gjør dette for å analysere bruksmønsteret og aktiviteten til alle våre besøkende. Hvis dette er greit for deg, klikk på godkjent.',
				'godkjent', 'les mer', 'https://www.datatilsynet.no/personvern-pa-ulike-omrader/internett-og-apper/cookies/');
		});
	</script>
</body>
</html>