@{ ViewData["Title"] = "Studentprosjekter"; }

<div class="text-info">
    <h1>Studentprosjekter</h1><br />
    <p>Her finner du informasjon om ulike prosjekter drevet av studenter, både fritidsprosjekter og andre skoleoppgaver, og på denne siden kan alle vise frem og skryte av prosjektene sine. Vi oppfordrer alle til å dele informasjon og kildekode, da dette kan motivere andre studenter til å jobbe med fritidsprosjekter.</p><br>
    
    <p>Flere studentprosjekter kommer snart!</p><br/>
</div>


<div class='challenge-box'>
    <!--
    <div class='challenge-image'>
        <center><img src="~/img/challenges/Wallpaper.png"></center>
    </div>
    -->

    <div class='challenge-info'>
        <div class='challenge-info-text'>
            <h2>Kodesonens nettside</h2>
            <p style="margin-top: 10px">Programmeringsspråk: C#</p>
            <p style="margin-top: 5px">Nøkkelord: ASP.NET Core, Entity Framework, MVC Pattern, CI/CD</p> 
            <p style="margin-top: 5px">Publisert av: <a href="#" class="hyperlink">Sirajuddin Asjad</a></p> 
            <p style="margin-top: 15px">Nettsiden til Kodesonen er utviklet av webteamet vårt og oppdateres kontinuerlig med nye funksjonaliteter og forbedringer. Nettsiden er utviklet ved bruk av moderne rammeverk og design patterns innen webutvikling, og webteamet praktiserer en utviklingssyklus som består av planlegging, utvikling, testing og distribuering av nettsiden. Hele kildekoden er open source og ta kontakt med oss dersom du ønsker å bidra i webteamet.</p>
        </div>

        <div class='challenge-info-buttons'>
            <h3 style="margin-top: 20px">
                <a asp-controller="Projects" asp-action="ProjectPage" class='hyperlink'><i class="far fa-folder-open"></i> Les mer om prosjektet</a>
                <a href="https://github.com/kodesonen/nettside-v2" target='_blank' class='hyperlink'><i class='fab fa-github-square'></i> Kildekode</a>
            </h3>
        </div>
    </div>
</div>

<br><br>