@{ ViewData["Title"] = "Kodesonens nettside"; }

<div class="text-info">
    <h1>Kodesonens nettside</h1><br />
    <p>Nettsiden til Kodesonen er utviklet av webteamet vårt og oppdateres kontinuerlig med nye funksjonaliteter og forbedringer. Nettsiden er utviklet ved bruk av moderne rammeverk og design patterns innen webutvikling, og webteamet praktiserer en utviklingssyklus som består av planlegging, utvikling, testing og distribuering av nettsiden. Hele kildekoden er open source og ta kontakt med oss dersom du ønsker å bidra i webteamet.</p>
</div>

<div class="text-info">
    <h2>Skjermbilder:</h2>
    <p>Mer info kommer snart...</p>
</div>

<div class="text-info">
    <h2>Rammeverk/verktøy:</h2>
    <p>Mer info kommer snart...</p>
</div>

<div class="text-info">
    <h2>Software Development Life Cycle (SDLC):</h2>
    <p>Mer info kommer snart...</p>
</div>

<div class="text-info">
    <h2>Continuous Integration and Deployment (CI/CD):</h2>
    <p>Mer info kommer snart...</p>
</div>

<br><br><br><br><br><br>

<!--
<div class="member-list">
    <h2>Utviklere:</h2><br/>
    <div class="box-wrapper">
        <div class="profile-box">
            <center>
                <a href="#">
                    <img src="/img/team/daniel.png">
                </a>

                <h3><a href="#" style="text-decoration:none; color: black;">
                    <strong>Daniel Skryseth</strong>
                </a></h3>

                <div class="profile-social-links">
                    <a href="https://www.linkedin.com/in/daniel-skryseth-74471614a/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/Danielskry" target="_blank"><i class="fab fa-github-square"></i></a>
                </div>
            </center>
        </div>

        <div class="profile-box">
            <center>
                <a href="/profil/sirasjad">
                    <img src="/img/team/sira.png">
                </a>

                <h3><a style="text-decoration:none; color: black;" href="/profil/sirasjad">
                    <strong>Sirajuddin Asjad</strong>
                </a></h3>

                <div class="profile-social-links">
                    <a href="https://www.linkedin.com/in/sirajuddin97/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/sirasjad" target="_blank"><i class="fab fa-github-square"></i></a>
                </div>
            </center>
        </div>

        <div class="profile-box">
            <center>
                <a href="/profil/stianh">
                    <img src="/img/team/stian.png">
                </a>

                <h3><a style="text-decoration:none; color: black;" href="/profil/stianh">
                    <strong>Stian Håve</strong>
                </a></h3>

                <div class="profile-social-links">
                    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-github-square"></i></a>
                </div>
            </center>
        </div>
    </div>
</div>
-->
