@{ ViewData["Title"] = "Kodesonens nettside"; }

<div class="text-info">
    <h1>Prosjekt: Kodesonens nettside</h1><br />
    <p>Nettsiden til Kodesonen er utviklet av webteamet vårt og oppdateres kontinuerlig med nye funksjonaliteter og forbedringer. Nettsiden er utviklet ved bruk av moderne rammeverk og design patterns innen webutvikling, og webteamet praktiserer en utviklingssyklus som består av planlegging, utvikling, testing og distribuering av nettsiden. Hele kildekoden er open source og ta kontakt med oss dersom du ønsker å bidra i webteamet.</p>
</div>

<div class="text-info">
    <h2>Skjermbilder:</h2>
    <p>Mer info kommer snart...</p>
</div>

<div class="text-info">
    <h2>Rammeverk/verktøy:</h2>
    <p>Mer info kommer snart...</p>
</div>

<div class="text-info">
    <h2>Software Development Life Cycle (SDLC):</h2>
    <p>Mer info kommer snart...</p>
</div>

<div class="text-info">
    <h2>Continuous Integration and Deployment (CI/CD):</h2>
    <p>Mer info kommer snart...</p>
</div>

<div class="member-list">
    <div class="text-info">
        <h2>Utviklere:</h2>
    </div>

    <table class="member">
        <tr class="member-leading">
            <td>Navn</th>
            <td>Rolle</th>
            <td>GitHub-profil</th>
        </tr>

        <tr>
            <td>Sirajuddin Asjad</td>
            <td>Webansvarlig og backend-utvikler</td>
            <td><a href="https://github.com/sirasjad" target="_blank" class="hyperlink">github.com/sirasjad</a></td>
        </tr>

        <tr>
            <td>Daniel Skryseth</td>
            <td>Designansvarlig og frontend-utvikler</td>
            <td><a href="https://github.com/danielskry" target="_blank" class="hyperlink">github.com/danielskry</a></td>
        </tr>

        <tr>
            <td>Stian Håve</td>
            <td>Backend-utvikler</td>
            <td><a href="https://github.com/stanlylife" target="_blank" class="hyperlink">github.com/stanlylife</a></td>
        </tr>
    </table>
</div>

<br><br><br>