@model WebApp.Models.Auth.LoginModel

@{ ViewData["Title"] = "Login"; }

<div class="medlem-section wrapper">
	<div class="medlem-form">
		<h1>Logg inn</h1><hr />

		<p style="padding-bottom:400px">Vi har midlertidig deaktivert innlogging for medlemmer. Vi gir beskjed når denne tjenesten aktiveres igjen!</p>

		<!--
		<form asp-controller="Auth" asp-action="Login" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			@Html.Raw(TempData["StatusMessage"])

			<label><b>E-post:</b></label>
			<input type="text" placeholder="Oppgi e-post adresse" asp-for="Email" required>

			<label><b>Passord:</b></label>
			<input type="password" placeholder="Oppgi passord" asp-for="Password" required>

			<hr />
			<button class="medlem-button add_course_select">Logg inn</button>
		</form>
		-->
	</div>

	<div class="info-box">
		<div class="info-details">
			<h1>Ingen bruker?</h1><br />
			<p>Ved å <a asp-controller="Auth" asp-action="Register">opprette medlemskap</a> vil du automatisk bli tildelt en bruker. Dersom du ikke lenger ønsker å være medlem, kan du <a href="#">klikke her</a>.</p>
		</div>
	</div>
</div>
