@model WebApp.Models.Settings.EditPasswordModel

@{ ViewData["Title"] = "Endre passord"; }

<div class="medlem-section wrapper">
	<div class="medlem-form">
		<h1>Endre passord</h1><hr />

		<form asp-controller="Settings" asp-action="EditPassword" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			@Html.Raw(TempData["StatusMessage"])

            <label asp-for="CurrentPassword"><strong>Nåværende passord:</strong></label>
            <input asp-for="CurrentPassword" placeholder="Skriv inn ditt nåværende passord">
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>

            <label asp-for="NewPassword"><strong>Nytt passord:</strong></label>
            <input asp-for="NewPassword" placeholder="Skriv inn et nytt passord">
            <span asp-validation-for="NewPassword" class="text-danger"></span>

            <label asp-for="ConfirmPassword"><strong>Gjenta nytt passord:</strong></label>
            <input asp-for="ConfirmPassword" placeholder="Bekreft ditt nye passord">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

			<hr />
            <input type="submit" class="medlem-button add_course_select" value="Oppdater passord">
		</form>
	</div>
</div>
