@{
	ViewData["Title"] = "Login";
}
@model WebApp.Models.Auth.LoginModel
<!--
	TODO:
		Create login and register models
		Add taghelpers
		Add authentication and authorization
-->

<div class="wrapper">
	<div class="medlem-form">
		<h1>login</h1>
		<div class="wrapper">
		</div>

		<form asp-action="login" method="post">
			<div class="form-row">
				<label>Email</label>
				<input type="text" asp-for="Email" />
			</div>
			<div class="form-row">
				<label>Passsword</label>
				<input type="text" asp-for="Password" />
			</div>
			<div class="form-row">
				<button type="submit" class="medlem-button add_course_select">Logg inn</button>
			</div>
		</form>
	</div>

	<div class="sidebar-image">
		<img src="/assets/img/raw_svg/arduino_and_plant.svg" />
	</div>
</div>