@{
	ViewData["Title"] = "Register";
}
@model WebApp.Models.Auth.RegisterModel
<!--
	TODO:
		Create login and register models
		Add taghelpers
		Add authentication and authorization
-->

<form asp-action="register" method="post">
	<div class="form-row">
		<label>Email</label>
		<input type="text" asp-for="Email" />
	</div>
	<div class="form-row">
		<label>first name</label>
		<input type="text" asp-for="FirstName" />
	</div>
	<div class="form-row">
		<label>last name</label>
		<input type="text" asp-for="LastName" />
	</div>
	<div class="form-row">
		<label>Password</label>
		<input type="password" asp-for="Password" />
	</div>
	<div class="form-row">
		<label>Confirm password</label>
		<input type="password" asp-for="ConfirmPassword" />
	</div>
	<div class="form-row">
		<button type="submit">Register</button>
	</div>
</form>